@charset "UTF-8";
a {
   text-decoration: none;
   color: black;
}
   
#container1, #container2 {
   margin: 0 auto 15px auto;
   width: 800px;
   border-collapse: collapse;
}

#delete {
   margin: 0 auto;
   width: 800px;
   border-collapse: collapse;
}

#title {
   font-size: 30px;
}
   
#writer, #date {
   font-size: 15px;
}
   
#content {
   width: 800px;
   height: 300px;
   border-top: 2px solid #848484;
   border-bottom: 2px solid #848484;
   padding: 10px;
   vertical-align: top;
}

#delete td {
	text-align: right;
}

#delete a {
	border: 1px solid black;
	font: 20px;
	padding: 0 20px;
	padding: 10px;
}

#delete a:hover {
	background-color: black;
	color: white;
}