@charset "UTF-8";
#noticebox {
	width: 1300px;
}

#noticebox_second{
	margin: 0 auto;
}

a:link { 

 color: #58595b;

 text-decoration: none;

}

a:visited {

 color: #58595b;

 text-decoration: none;

}

a:hover {

 color: #58595b;

 text-decoration: none;

}

a:active {

 color: #58595b;

 text-decoration: none;

}
#top_nitice .line{
text-align:center;	
height : 50px;
}

#top_nitice #list{
	width : 60%;
	height : 100px;
	margin : auto;	
	border-top : 1px solid;
	border-collapse : separate;
}
#top_nitice #list ,#Value{
		
		border-top : 1px solid;
		border-collapse : collapse;
		border-bottom : 1px solid;
		margin-left : auto;
		margin-right : auto;
		
}
#top_nitice #topmain{
		/* width : 1000px; */
		text-align :center;
		font-size: 50px;
		
}
#top_nitice #searchValue{
		/* width: 1520px; */
}

#top_nitice #search #title {
	width: 500px;
}

#top_nitice #search{
	display: flex;
	margin-bottom: 50px;
	width: 1100px;
	margin: 0 auto;
	height: 100px;
	justify-content: space-around;
	align-items: center;
}
#top_nitice .pagenow{
	/* width : 1520px; */
	text-align : right;
}
#top_nitice #toplist{
	background-color : gray;
}
#top_nitice #countpage{
	/* width : 1520px; */
	text-align : right;
}
#top_nitice .listpaging{
	text-align : center;
	width : 100px;
	position : relative;
	left : 900px;
	bottom : 55px;
}
.btn.btn-prev{
	position : relative;
	left : 850px;
	bottom : 25px;
	color: #5f6368;
	border: solid 1px #dadce0;
	border-radius: 1vw;
	display: inline-block;
	padding: 6px 8px 6px 8px; 
	/*padding: top right bottom left*/
		cursor: pointer;
}
.btn.btn-next{
	position : relative;
	left : 1000px;
	bottom : 83px;
	color: #5f6368;
	border: solid 1px #dadce0;
	border-radius: 1vw;
	display: inline-block;
	padding: 6px 8px 6px 8px; 
	/*padding: top right bottom left*/
	cursor: pointer;
}

.indexer{
	/* border: 1px solid black; */
	width: 1000px;
	display: flex;
	margin: 0 auto;
	margin-top: 50px;
}

#searchValue {
/* 	width: 1300px;
	borber: 1px solid red;
	margin-bottom: 50px; */
}
