@charset "UTF-8";
#detail_section {
    width: 1300px;
    margin: 0px auto;
    font-size: 1.1rem;
}

#detail_div_box {
    width: 1100px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

/* 상품 사진 담는 div 크기 조절*/
section#detail_section #product_img {
    box-sizing: border-box;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* 상품 사진 크기 조절 */
#detail_section #product_img > img {
	width: 500px;
	height: 500px;
}

/* 오른쪽 div 스타일 지정 */
#product_write_icon {
    box-sizing: border-box;
    padding: 30px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* 상품명 스타일 지정 */
#product_write_icon > #write > h1 {
    line-height: 2;
    font-size: 2rem;
}

/* 회사명 스타일 지정 */
#product_write_icon > #write > h4 {
    margin-top: 20px;
    font-size: 1.5rem;
}

/* 옵션선택 select창 위치 지정 */
#product_write_icon > #option {
    margin-top: 60px;
}

/* 가격 div 스타일 및 위치 지정 */
#product_write_icon > #price_div {
    margin: 50px 0px;
    text-align: right;
    font-size: 1.5rem;
}

/* 가격에 붙는 '원 ' 위치 지정 */
#product_write_icon #price-span {
	margin-right: 50px;
}

/* 가격 위치 지정 */
#product_write_icon > #price_div > #price {
	/* margin-right: 50px; */
	display: inline;
}

/* 후기 등록 버튼의 링크 스타일 및 위치 지정 */
#insertA {
	width: 100px; height: 50px;
	line-height: 50px;
    background-color: black;
    color: white;
    border: none;
    box-sizing: border-box;
	text-decoration: none;
	color: white;
	margin-right: 50px;
	margin-top: 20px;
}

/* 구매 & 장바구니 버튼 담은 div 스타일 및 위치 지정 */
#product_write_icon > #buy_cart_btn {
    margin-top: 50px;
    text-align: center;
}

/* 구매 & 장바구니 버튼의 <a> 태그 스타일 지정 */
#product_write_icon #buy_cart_btn a {
    display: inline-block;
    width: 200px;
    height: 50px;
    margin: 0 10px;
    line-height: 50px;
    background-color: black;
    color: white;
    border: none;
    text-decoration: none;
    font-size: 1.1rem;
}

/* 구매 버튼의 <form> 스타일 지정  */
#buy_cart_btn #buy_form {
	display: inline;
}

/* 구매 & 장바구니 버튼의 <button> 태그 스타일 지정 */
#product_write_icon #buy_cart_btn button {
    display: inline-block;
    width: 200px;
    height: 50px;
    margin: 0 10px;
    line-height: 50px;
    background-color: black;
    color: white;
    border: none;
    text-decoration: none;
    font-size: 1.1rem;
}

/* 구매 & 장바구니 버튼의 <a> 태그 hover시 스타일 지정 */
#product_write_icon #buy_cart_btn a:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
}

/* 구매 & 장바구니 버튼의 <button> 태그 hover시 스타일 지정 */
#product_write_icon #buy_cart_btn button:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
}
/* 옵션 스타일 지정 *//* 옵션 스타일 지정 *//* 옵션 스타일 지정 *//* 옵션 스타일 지정 *//* 옵션 스타일 지정 */
/* 옵션 스타일 지정 *//* 옵션 스타일 지정 *//* 옵션 스타일 지정 *//* 옵션 스타일 지정 *//* 옵션 스타일 지정 */
/* 사이즈 지정 옵션 칸 */
#size_select {
    width: 400px;
    height: 40px;
    background-color: #e7e7e7;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
}

/* 색깔 지정 옵션 칸 */
.color_select_same {
    margin-top: 10px;
    width: 400px;
    height: 40px;
    background-color: #e7e7e7;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
}

/* 옵션(사이즈, 색상) 선택칸 클릭시 스타일 지정 */
#size_select:focus, .color_select_same:focus {
    outline: none;
}

/* 옵션(사이즈, 색상) 선택칸 위치 지정 */
#size_div, #color_div {
    text-align: center;
}

/* 옵션 table 위치 및 스타일 지정 */
#detail_section #productChoiceTable {
    margin-top: 5px;
    margin-top: 20px;
    background-color: #e7e7e7;
    text-align: center;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 20px;
    width: 400px;
    border-spacing: 30px 15px;
    padding: 20px;
}

/* 사이즈 & 옵션 칸 밑줄 넣기(td) */
#detail_section td.size_opt, #detail_section td.color_opt {
    border-bottom: 1px solid black;
}

/* 'X' 버튼 스타일 지정 */
button.close_same {
    border: none;
    width: 20px;
    height: 20px;
    font-size: 20px;
    font-weight: bolder;
    background-color: #e7e7e7;
}

/* 'X' 버튼 hover시 스타일 지정 */
button.close_same:hover {
	color: red;
}

/* 수량 입력칸 스타일 지정 */
input[type=text].count_class_same {
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    width: 50px;
}

/* 수량 입력칸 focus시 스타일 지정 */
input[type=text].count_class_same:focus {
    outline: none;
}

/* 수량 입력칸 & 위, 아래 버튼 스타일 지정 */
.count_span_same {
    display: flex;
    margin-top: 5px;
}

/* 위, 아래 버튼 클릭시 스타일 지정 */
.count_span_same img:active {
    background-color: white;
}
/* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 */
/* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 */
/* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 */
/* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 *//* 후기 */
#review_sec{
    /* border: thistle 1px solid; */
    width: 1000px;
    clear: both;
    padding: 60px;
    margin: 0px auto;
    /* margin-top: 600px; */
}

/* 후기 전체 담는 div */
#review_sec > #review_content {
    width: 1000px;
    /* border: 1px blue solid; */
}

/* 각 후기 글 구역 */
#review_sec li {
	box-sizing: border-box;
    width: 1000px;
    padding: 20px;
    overflow: hidden;
    margin-bottom: 20px;
    /* border: 5px solid blue; */
    border-bottom: 2px solid black;
}

/* 후기 중 사진 */
#review_content img {
    width: 200px;
    height: 200px;
    float: left;
}

/* 콘텐츠 내용 부분 중 글 제목과 내용 */
#review_write_content {
    text-align: left;
}

#review_write_content h5 {
    margin-bottom: 50px;
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
/* 후기 글 담는 div 스타일 지정 */
#review_box {
	box-sizing: border-box;
	/* border: 5px solid red; */
	text-align: left;
	/* height: 200px; */
	padding: 20px 30px;
	width: 750px;
	float: right;
}

/* 후기 제목 스타일 지정 */
.review_title_same{
	font-size: 1.1rem;
}

/* 게시날짜, 작성자 스티일 및 위치 지정 */
.review_write_info .review_writer_date {
	float: left;
}

/* 삭제 &수정 버튼 담는 div 스티일 및 위치 지정 */
.review_write_info .btns {
	float: right;
}

/* 삭제 &수정 버튼 스타일 지정 */
.btns > button {
	border: 2px solid black;
	width: 50px;
	height: 30px;
	background-color: white;
}

.btns > button:hover {
	background-color: black;
	color: white;
}

/* 리뷰 구역 구분 경계선 */
#review_top_line{
	margin: 0 auto;
	margin-bottom: 30px;
	height: 50px;
	border: 1px solid black;
	background: black;
	color: white;
}

/* 리뷰 구역 구분 경계선 안의 글자 */
#review_top_line h1{
	text-align: center;
	line-height: 50px;
}

/* 페이지 링크 스타일 지정 */
#page {
	text-align: center;
    font-size: 1.2rem;
}

#page button {
	margin: 0 10px;
	border: none;
	font-size: 1.4rem;
	background-color: white;
}

#page button:hover {
	text-decoration: underline;
}
/* 다른 카테고리 옵션 선택 *//* 다른 카테고리 옵션 선택 *//* 다른 카테고리 옵션 선택 *//* 다른 카테고리 옵션 선택 *//* 다른 카테고리 옵션 선택 */
/* 다른 카테고리 옵션 선택 *//* 다른 카테고리 옵션 선택 *//* 다른 카테고리 옵션 선택 *//* 다른 카테고리 옵션 선택 *//* 다른 카테고리 옵션 선택 */
/* 수량 선택칸 제일 바깥 div */
#other_category_count_div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background: #e7e7e7;
    padding: 20px;
    padding-right: 30px;
    margin-bottom: 20px;
    border-radius: 100px;
    border: 3px solid black;
}

/* 수량이 입력되는 input 스타일 지정 */
#other_category_count_input {
    width: 60px; height: 40px;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 7px;
    margin: 0 10px;
}

/* 수량이 입력되는 input 클릭시 스타일 지정 */
#other_category_count_input:focus {
    outline: none;
}

/* +, - 이미지 스타일지정 */
.count_icon {
    display: inline-block;
    border: none;
    width: 35px;
    height: 35px;
}