@charset "UTF-8";
* { margin: 0; padding: 0; list-style-type: none; }

section{
    width: 1300px;
    margin: 0px auto;
}
/* 검색 결과가 있을 때 */
#product_ok {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#product_ok img {
	width: 250px;
	height: 250px;
}

#product_ok img:hover {
	width: 300px;
	height: 300px;
}

#product_ok .name {
	display: inline-block;
	width: 250px;
	text-overflow: clip;
	margin-bottom: 10px;
}

#product_ok a {
    margin-bottom: 50px;
    text-decoration: none;
    color: black;
}

#product_ok a:visited {
	color: black;
}

/* 검색 결과가 없을 때 */
#product_no {
	text-align: center;
}

#product_no p{
	font-size: 50px;
	margin-top: 10px;
	margin-bottom: 50px;
}

