@charset "UTF-8";

footer {
	width: 1300px;
	height: 250px;
	margin: 40px auto;
	margin-bottom: 10px;
	padding: 10px;
	border-top: 3px solid black;
}
#footer1 {
    height: 250px;
    width: 500px;
    float: left;
    margin-top: 20px;
    margin-left: 100px;
}

#footer2 {
    height: 250px;
    width: 500px;
    text-align: right;
    float: right;
    margin-right: 100px;
}

#social li {
	float: left;
}


#social img{
    padding-right: 10px;
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}

#footer1 #phone {
    clear: left;
    font-size: 40px;
    margin-bottom: 20px;
}

#footer2 p {
    font-size: 60px;
    margin-bottom: 20px;
}